# Core dependencies
opencv-python==4.10.0.84
qrcode==7.4.2
pyzbar==0.1.9
numpy==1.26.4
airsim==1.8.1
flask==3.0.3
flask-cors==5.0.0
mavsdk==1.4.4
requests==2.32.3
websockets==11.0.3
asyncio-mqtt==0.16.1
aiohttp==3.9.1
